.container{
    background-color: whitesmoke;
    text-align: center;
    
}

body{
    background-color:white;
}

.second{
    background-color:gray;
    color: white;
}

h1{
    color: wheat;
}

table{
    border-collapse: collapse;
    text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
}

table, th, td {
    border: 1px solid black;
  }

th, td{
    height: 60px;
    width: 100px;
}
